.btn-primary {
  background-color: #fff;
  border-color: black;
  padding: 8px 16px;
  border-radius: 7px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 1;
}

.btn-dark {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  padding: 8px 16px;
  border-radius: 7px;
  color: var(--color-light);
  font-weight: 700;
  font-size: 1;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-light {
  background-color: var(--color-light);
  border-color: var(--color-light);
  padding: 8px 16px;
  border-radius: 7px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 1;
  cursor: pointer;
  text-transform: uppercase;
}
